h1 {
  cursor: help;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 5px solid brown;

}

form {
  margin: 0 auto;
  background: antiquewhite;
  width: 450px;
  height: 250px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}

input {
  margin-top: 10px;
  height: 40px;
  width: 400px;
  border-radius: 20px/20px;
  border: none;
  padding-left: 15px;
  font-size: 18px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
input:focus {
  border: 2px solid chartreuse;
  transform: translateX(15px);
  width: 385px;
}

button {
  cursor: pointer;
  padding: 20px 20px;
  height: 30px;
  color: #fff;
  background: dodgerblue;
  border: none;
  text-transform: uppercase;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
  border-radius: 10px/10px;
  margin-top: 40px;
}
button:hover {
  opacity: .80;
  font-weight: bold;
  transform: scale(1.1);
}